[Unit]
Description=AFSIM Warlock for Network Resource Manager remote debugging
Requires=nrm-vnc.service
After=nrm-vnc.service

[Service]
Type=simple
ExecStart=/home/pyh/afsim/network_resource_manager/scripts/remote/run-warlock-remote.sh
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
